Заявка на обратный звонок
===============================================
 
Заявка на обратный ззвонок от <%= @name %>,
Тема: <%= @topic %>
Телефон: <%= @phone %>
Почта: <%= @email %>
Сообщение: <%= @message %>