<div class="news-block-content">
			<table class="news-block-top">
				<tr>
					<td style="width: 630px; background: #e2e1db;padding-top: 25px; padding-bottom: 25px;padding-left: 25px;" valign="top">
						<a href="/article/<%= @articles[0].id %>" /><img src="<%= @articles[0].image.url(:thumb_1) %>" style="float: left;margin-right: 22px;"></a>
						<div style="width: 284px; float: left;">
							<a href="/article/<%= @articles[0].id %>" /><span class="news-block-header"><%= @articles[0].name %></span></a>
							<a href="/article/<%= @articles[0].id %>" /><span class="news-content"><%= @articles[0].introtext.html_safe %></span></a>
							<div class="news-block-devider" style="width: 284px;"></div>
							<span class="news-block-source"><strong>Источник: </strong><a href="<%= @articles[0].source %>"><%= @articles[0].source %></a></span>
						</div>
					</td>
					<td valign="top">
						<div style="background: #eaedf1;padding-top: 27px; padding-left: 25px; padding-bottom: 10px; padding-right: 15px;">
							<a href="/article/<%= @articles[1].id %>" /><span class="news-block-header"><%= @articles[1].name %></span></a>
							<div class="news-block-devider" style="width: 174px;"></div>
							<span class="news-block-source"><strong>Источник: </strong><a href="<%= @articles[1].source %>"><%= @articles[1].source %></a></span>
						</div>
						<div style="background: #4c5866;padding-top: 27px; padding-left: 25px; padding-bottom: 10px; padding-right: 15px;">
							<a href="/article/<%= @articles[2].id %>" /><span class="news-block-header" style="color: white;"><%= @articles[2].name %></span></a>
							<a href="/article/<%= @articles[2].id %>" /><span class="news-content" style="color: white"><%= @articles[2].introtext.html_safe %></span></a>
							<div class="news-block-devider"></div>
							<span class="news-block-source" style="color: white"><strong>Источник: </strong><a href="<%= @articles[2].source %>" style="color: white"><%= @articles[2].source %></a></span>
						</div>
					</td>
				</tr>
			</table>
			<table class="news-block-top">
				<tr>
					<td style="width: 225px;" valign="top">
						<div style="background: #f8f7f6;padding-top: 27px; padding-left: 25px; padding-bottom: 10px; padding-right: 15px;">
							<a href="/article/<%= @articles[3].id %>" /><span class="news-block-header"><%= @articles[3].name %></span></a>
							<a href="/article/<%= @articles[3].id %>" /><span class="news-content"><%= @articles[3].introtext.html_safe %>
							</span></a>
							<div class="news-block-devider" style="width: 174px;"></div>
							<span class="news-block-source"><strong>Источник: </strong><a href="<%= @articles[3].source %>"><%= @articles[3].source %></a></span>
						</div>
						<div style="background: #e7eef7;padding-top: 27px; padding-left: 25px; padding-bottom: 10px; padding-right: 15px;">
							<a href="/article/<%= @articles[4].id %>" /><img src="<%= @articles[4].image.url(:thumb_4) %>" style="float: left;margin-right: 10px;"></a>
							<a href="/article/<%= @articles[4].id %>" /><span class="news-block-header"><%= @articles[4].name %></span></a>
							<div class="clear"></div>
							<a href="/article/<%= @articles[4].id %>" /><span class="news-content"><%= @articles[4].introtext.html_safe %>
							</span></a>
							<div class="news-block-devider"></div>
							<span class="news-block-source"><strong>Источник: </strong><a href="<%= @articles[4].source %>"><%= @articles[4].source %></a></span>
						</div>
					</td>
					<td style="width: 100px;background: #4c5866;padding-top: 25px; padding-bottom: 25px;padding-left: 25px;padding-right: 25px;" valign="top">
						<a href="/article/<%= @articles[5].id %>" /><img src="<%= @articles[5].image.url(:thumb_2) %>" style="margin-bottom: 15px;"></a>
						<a href="/article/<%= @articles[5].id %>" /><span class="news-block-header" style="color: white"><%= @articles[5].name %></span></a>
							<a href="/article/<%= @articles[5].id %>" /><span class="news-content" style="color: white"><%= @articles[5].introtext.html_safe %></span></a>
							<div class="news-block-devider" style="width: 173px;"></div>
							<span class="news-block-source" style="color: white"><strong>Источник: </strong><a href="<%= @articles[5].source %>" style="color: white"><%= @articles[5].source %></a></span>
					</td>
					<td style="background: #f5f7f8;padding-top: 25px; padding-bottom: 25px;padding-left: 25px;padding-right: 25px;" valign="top">
							<a href="/article/<%= @articles[6].id %>" /><img src="<%= @articles[6].image.url(:thumb_3) %>" style="margin-bottom: 15px;"/></a>
							<a href="/article/<%= @articles[6].id %>" /><span class="news-block-header"><%= @articles[6].name %></span></a>
							<a href="/article/<%= @articles[6].id %>" /><span class="news-content"><%= @articles[6].introtext.html_safe %></span></a>
							<div class="news-block-devider" style="width: 284px;"></div>
							<span class="news-block-source"><strong>Источник: </strong><a href="<%= @articles[6].source %>"><%= @articles[6].source %></a></span>
					</td>
				</tr>
			</table>
		</div>
		<div class="clear"></div>
		<div class="hr"><img src="<%= image_path('hr.png') %>"></div>
		<%= render :partial => "layouts/news_partial", :locals => { :news => @news }  %>