<div class="news-block-content">
			<h1><%= @article.name %></h1>
			<div class="text-content">
			<img src="<%= @article.image.url(:thumb_5)%>" style="float: left; margin-right: 15px; margin-bottom: 10px;">
				<%= @article.content.html_safe %>
			</div>
			<div class="clear"></div>
			<div class="text-end-line"></div>
			<span class="text-block-source">Источник: <a href="<%= @article.source %>"><%= @article.source %></a></span>
			<div class="work-horiz-line"></div>
			<div class="another-article-header">Другие статьи</div>
			<div class="another-articles">
				<% @articles.each do |a| %>
					<div class="another-article-item">
						<img src="<%= a.image.url(:thumb_6)%>" />
						<a href="/article/<%= a.id %>"><div class="news-block-header" style="margin-bottom: 7px;"><%= a.name%></div></a>
						<div class="news-content"><a href="/article/<%= a.id %>" style="color: #949494;"><%= a.introtext.html_safe %></a></div>
					</div>
				<% end %>
				<div class="clear"></div>
			</div>
		</div>
		<div class="clear"></div>
		<div class="hr"><img src="<%= image_path('hr.png') %>"></div>
		<%= render :partial => "layouts/news_partial", :locals => { :news => @news }  %>