<div class="news-block-content">
			<h1>Предложения по аренде</h1>
			<div class="text-content">
				<% @company.rent.each do |r| %>
					<div class="rent-item">
						<a href="/company/<%= @company.id %>/rent/<%= r.id %>">
							<%= image_tag r.image.url(:thumb) %>
						</a>
						<a href="/company/<%= @company.id %>/rent/<%= r.id %>" class="rent-item-name">
							<%= r.name%>
						</a>
						<span class="rent-item-sq">Площадь <%= r.sq %> кв.м</span>
						<div class="rent-item-price"><%= r.price %> руб./кв.м.</div>
					</div>
				<% end %>
			</div>
			<div class="clear"></div>
		</div>
		<div class="clear"></div>
		<div class="hr"><img src="<%= image_path('hr.png') %>"></div>
		<%= render :partial => "layouts/news_partial", :locals => { :news => @news }  %>