<div class="news-block-content">
			<% @companies.each do |c|%>
				<a href="/company/<%= c.id %>">
					<div class="company-item">
						<img src="<%= c.logo.url(:thumb)%>" class="company-image">
						<div class="company-description">
							<span class="news-block-header company-name"><%= c.name %></span>
							<span class="news-content company-site">
								<% if c.url && c.url != '' %>
									<%= c.url %>
								<% end %>
							</span>
							<div class="clear"></div>
							<span class="news-content company-text"><%= c.description %></span>
						</div>
						<div class="clear"></div>
					</div>
				</a>
			<% end %>
		</div>
		<div class="clear"></div>
		<div class="hr"><img src="<%= image_path('hr.png') %>"></div>
		<%= render :partial => "layouts/news_partial", :locals => { :news => @news }  %>