		<div class="hr"><img src="<%= image_path('hr.png') %>"></div>
		<div class="rent-on-main">
			<h4>Похожие предложения</h4>
			<% @rents.each do |r| %>
				<div class="rent-item">
							<a href="/company/<%= r.company_id %>/rent/<%= r.id %>">
								<%= image_tag r.image.url(:thumb) %>
							</a>
							<a href="/company/<%= r.company_id %>/rent/<%= r.id %>" class="rent-item-name">
								<%= r.name%>
							</a>
							<span class="rent-item-sq">Площадь <%= r.sq %> кв.м</span>
							<div class="rent-item-price"><%= r.price %> руб./кв.м.</div>
				</div>
			<% end %>
		</div>
		<div class="clear"></div>
		<div class="column column-left">
			<%= AddText.where(label: 'text_on_main')[0].content.html_safe %>
		</div>
		<div class="column column-right">
			<div class="download-btn">
				<table>
					<tr>
						<td class="download-header"><a style="color: white;" href="<%= AddText.where(label: 'presentation_on_main')[0].attached.url %>">Презентация.pdf</a></td>
						<td></td>
					</tr>
					<tr>
						<td class="download-info"><a style="color: white;" href="<%= AddText.where(label: 'presentation_on_main')[0].attached.url %>"><img src="<%= image_path('download-arrow.png') %>"> Скачать</a></td>
						<td class="download-info"><a style="color: white;" href="<%= AddText.where(label: 'presentation_on_main')[0].attached.url %>"><%= number_to_human_size(File.size(AddText.where(label: 'presentation_on_main')[0].attached.path))%></a></td>
					</tr>	
				</table>
			</div>
			<% banner = Banner.where(label: 'right_banner_on_main')[0]%>
			<% if banner.url && banner.url != ''%>
				<a href="<%= banner.url%> ">
		    <% end %>
				<img src="<%= banner.image.url %>" class="right-banner" />
			<% if banner.url && banner.url != ''%>
				</a>
		    <% end %>
		</div>
		<div class="clear" style="height: 15px;"></div>
		<%= render :partial => "layouts/news_partial", :locals => { :news => @news }  %>
		<div class="clear"></div>