<div class="news-block-content">
			<h1><%= @new.name %></h1>
			<div class="text-content">
				<%= @new.content.html_safe %>
			</div>
			<div class="clear"></div>
		</div>
		<div class="clear"></div>
		<div class="hr"><img src="<%= image_path('hr.png') %>"></div>
		<%= render :partial => "layouts/news_partial", :locals => { :news => @news }  %>