<div class="news-block-content">
			<h1>Предложениe по аренде</h1>
			<div class="text-content">
				<%= image_tag @rent.image.url(:inner), :class => 'rent-img' %>
				<div class="rent-info">
					<h1  class="rent-header"><%= @rent.name %></h1>
					<table>
						<tr>
							<td class="label">Город</td>
							<td class="value"><%= @rent.city %></td>
						</tr>
						<tr>
							<td class="label">Адрес</td>
							<td class="value"><%= @rent.address %></td>
						</tr>
						<tr>
							<td class="label">Площадь</td>
							<td class="value"><%= @rent.sq %> кв.м</td>
						</tr>
					</table>
					<div class="hr line"></div>
					<div class="rent-intro">
						<%= @rent.intro.html_safe %>
					</div>
					<div class="prices">
						<div><%= @rent.price %> <i>руб./кв.м</i></div>
						<div><%= (@rent.price.to_i*@rent.sq.to_i).to_s %> <i>руб. - общая</i></div>
					</div>
				</div>
			</div>
			<div class="clear"></div>
		</div>
		<div class="clear"></div>
		<div class="hr"><img src="<%= image_path('hr.png') %>"></div>
		<div class="rent-on-main">
			<h4>Похожие предложения</h4>
			<% @rents.each do |r| %>
				<div class="rent-item">
							<a href="/company/<%=r.company_id %>/rent/<%= r.id %>">
								<%= image_tag r.image.url(:thumb) %>
							</a>
							<a href="/company/<%= r.company_id %>/rent/<%= r.id %>" class="rent-item-name">
								<%= r.name%>
							</a>
							<span class="rent-item-sq">Площадь <%= r.sq %> кв.м</span>
							<div class="rent-item-price"><%= r.price %> руб./кв.м.</div>
				</div>
			<% end %>
		</div>
		<div class="clear"></div>
		<%= render :partial => "layouts/news_partial", :locals => { :news => @news }  %>