<div class="news-block-content">
			<h1><%= @pageinfo.name %></h1>
			<div class="text-content">
				<%= @pageinfo.content.html_safe if !@pageinfo.content.nil? %>
			</div>
			<div class="clear"></div>
		</div>
		<div class="clear"></div>
		<div class="hr"><img src="<%= image_path('hr.png') %>"></div>
		<%= render :partial => "layouts/news_partial", :locals => { :news => @news }  %>