<div class="news-block-content">
				<% banner = Banner.where(label: 'work_banner')[0]%>
				<% if banner.url && banner.url != '' %>
					<a href="<%= banner.url%> ">
			    <% end %>
					<img src="<%= banner.image.url %>" class="work-banner"/>
			<div class="work-info">
				<span class="news-block-header"><%= AddText.where(label: 'work_header')[0].content.html_safe %></span>
				<span class="news-content"><%= AddText.where(label: 'work_article')[0].content.html_safe %></span>
			</div>
			<div class="clear"></div>
			<div class="work-horiz-line"></div>
			<div class="vacancy">
				<% @vacansies.each do |v| %>
					<div class="vacancy-item">
						<img src="<%= v.image.url(:thumb)%>" />
						<span class="vacancy-header"><%= v.name%></span>
						<span class="vacancy-price">от <%= v.price %> руб.</span>
						<span class="vacancy-description">
							<%= v.tr.html_safe %>
						</span>
						<a href="/work/<%= v.id %>" class="learn-more-link">Узнать больше</a>
					</div>
				<% end %>
			</div>
		</div>
		<div class="clear"></div>
		<div class="hr"><img src="<%= image_path('hr.png') %>"></div>
		<%= render :partial => "layouts/news_partial", :locals => { :news => @news }  %>