<div class="news-block-content">
			<div class="vacancy-inner-left-block">
				<h1 class="vacancy-inner-name"><%= @vacancy_info.name%></h1>
				<span class="vacancy-price vacancy-inner-price">от <%= @vacancy_info.price%> руб.</span>
				<div class="vacancy-inner-horiz-line"></div>
				<div class="calls">
					<div class="calls-header">Требования</div>
					<span class="vacancy-description">
						<%= @vacancy_info.tr.html_safe %>
					</span>
				</div>
				<div class="duties">
					<div class="duties-header">Обязанности</div>
					<span class="vacancy-description">
						<%= @vacancy_info.ob.html_safe %>
					</span>
				</div>
				<div class="clear"></div>
				<a href="#" class="vacancy-btn" style="display: inline-block;margin-top: 30px;">
					<img src="<%= image_path('vacancy-button.png')%>">
				</a>
			</div>
			<div class="vacancy-inner-right-block">
				<img src="<%= @vacancy_info.image.url(:medium) %>"  />
			</div>
		</div>
		<div class="clear"></div>
		<div class="hr"><img src="<%= image_path('hr.png') %>"></div>
		<img src="<%= image_path('pluses.png') %>" style="display: block; margin: 0 auto;margin-top: 10px;" />
		<div class="hr"><img src="<%= image_path('hr.png') %>"></div>
			<div class="another-vacancy" style="margin-left: 40px;">
				<div class="another-vacancy-inner-header">Другие вакансии</div>
					<div class="jcarousel-wrapper">

	                <!-- Carousel -->
	                <div class="jcarousel">
	                    <ul>        
	                    		<% @vacansies.each do |v| %> 
	                    			<li>
		                    			<div class="another-article-item">
		                    				<img src="<%= v.image.url(:small) %>" />
											<div class="news-block-header vacancy-inner-slider-header" style="margin-bottom: 7px;"><%= v.name%></div>
											<div class="news-content vacancy-inner-slider-price" >от <%= v.price %> руб.</div>
										</div>
		                    		</li>
	                    		<% end %>      	
	                    </ul>
	                </div>

	                <!-- Prev/next controls -->
	                <a href="#" class="jcarousel-control-prev"><img src="<%= image_path('left_arr.png')%>"></a>
	                <a href="#" class="jcarousel-control-next"><img src="<%= image_path('right_arr.png')%>"></a>

            	</div>
			</div>

		<div class="hr"><img src="<%= image_path('hr.png') %>"></div>
		<%= render :partial => "layouts/news_partial", :locals => { :news => @news }  %>