@font-face {
    font-family: "DinCondProLight";
    /*src: url(../fonts/PFDINTEXTCONDPRO-LIGHT.TTF);*/
	src: url(asset-path('PFDINTEXTCONDPRO-LIGHT.TTF'));
}

@font-face {
    font-family: "DinCondProBold";
    /*src: url(../fonts/PFDINTEXTCONDPRO-BOLD.TTF);*/
	src: url(asset-path('PFDINTEXTCONDPRO-BOLD.TTF'));
}

@font-face {
    font-family: "DinCondProMedium";
    /*src: url(../fonts/PFDINTEXTCONDPRO-MEDIUM.TTF);*/
	src: url(asset-path('PFDINTEXTCONDPRO-MEDIUM.TTF'));
}

@font-face {
    font-family: "DinCondProRegular";
    /*src: url(../fonts/PFDINTEXTCONDPRO-REGULAR.TTF);*/
	src: url(asset-path('PFDINTEXTCONDPRO-REGULAR.TTF'));
}

* {
	font-family: Tahoma !important;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
	
}
.page{
    min-height: 100%;
    margin-bottom: -152px;
}
* html .page {
    height: 100%;
}

a {
	text-decoration: none;
}
.page-buffer {
    height: 152px;
}

.footer {
	height: 152px;
	background-color: #bfbfbf;
}

.top-image {
	height: 452px;
	width: 100%;
	background-image: url(asset-path('bg.png'));
	background-repeat: no-repeat;
	/*background-size: cover;*/
    /*background-position: center top;	*/

    transition: all 2s ease-in-out;
    -webkit-transition: all 2s ease-in-out; /** Chrome & Safari **/
    -moz-transition: all 2s ease-in-out; /** Firefox **/
    -o-transition: all 2s ease-in-out; /** Opera **/
}

.top-image:hover {
    transform: translate(-20px,0);
    -webkit-transform: translate(-20px,0); /** Safari & Chrome **/
    -o-transform: translate(-20px,0); /** Opera **/
    -moz-transform: translate(-20px,0); /** Firefox **/
}

.top-image {
	position: absolute;
	width: 105%;
}

.bg-mask {
	position: absolute; top: 0; left: 0; width: 100%; height: 452px; background: rgb(255, 255, 255); display: block;opacity: 0;
}

.bottom-line {
	height: 27px;
	background: url(asset-path('line-bg.png')) repeat-x;
	position: relative;
	z-index: 2;
}

.page {
	background: url(asset-parh('content-bg.png')) repeat;
}

.content {
	margin: 0 auto;
	width: 982px;
	background-color: white;
	margin-top: -25px;
	position: relative;
	z-index: 3;
	padding-bottom: 20px;
}

.header-field {
	margin: 0 auto;
	width: 982px;
	position: relative;
	z-index: 2;
	height: 452px;
}

.submenu {
	list-style-type: none;
	display: block;
	padding-top: 40px;
	margin-left: 83px;
}

.submenu li {
	display: inline-block;
	margin-right: 15px;
}

.submenu a {
	font-family: "DinCondProMedium";
	font-size: 11px;
	text-decoration: none;
	color: black;
}

.logo {
	display: block;
	padding-top: 42px;
	padding-left: 42px;
	float: left;
}

.menu {
	list-style-type: none;
	float: left;
	margin-top: 47px;
	margin-left: 110px;
}

.menu li {
	display: inline-block;
}

.menu a {
	font-family: "DinCondProMedium";
	font-size: 10px;
	text-decoration: none;
	color: #fffefe;
	opacity: 0.6;
}

.menu .devider {
	font-family: "DinCondProMedium";
	font-size: 10px;
	text-decoration: none;
	color: #fffefe;
	opacity: 0.6;
	margin-left: 20px;
	margin-right: 20px;
}

.menu .active {
	font-family: "DinCondProMedium";
	font-size: 10px;
	text-decoration: none;
	color: #fffefe;
	opacity: 1;
}

.mail-btn {
	background: url(asset-path('mail-bg.png'));
	width: 44px;
	height: 69px;
	float: left;
	margin-left: 30px;
	cursor: pointer;
}

.clear {
	clear: both;
}

.search-form {
	float: right;
	margin-right: 80px;
	display: block;
}

.search-form input[type=text] {
	border: none;
	background-color: rgba(178,178,178,0);
	border-bottom: 1px solid #8f93b1;
	padding-bottom: 5px;
	padding-top: 5px;
	padding-right: 20px;
	color: white;
}

.search-form input[type=submit] {
	width: 11px;
	height: 11px;
	background: url(asset-path('search-btn.png')) no-repeat;
	border: none;
	margin-left: -18px;
}

.slider-marks {
	list-style-type: square;
	margin-top: 260px;
	margin-left: 400px;
}

.slider-marks li {
	float: left;
	width: 20px;
	color: white;
}

.slider-text {
	background: url(asset-path('header-text-bg.png')) no-repeat;
	width: 325px;
	padding: 15px;
	float: right;
	margin-top: -220px;
	margin-right: 83px;
	width: 326px;
	height: 208px;
}

.slider-text .header {
	font-family: "DinCondProMedium";
	font-size: 18px;
	text-decoration: underline;
	display: block;
	margin-bottom: 10px;
}

.slider-text .subheader {
	padding: 5px;
	background-color: #fc9730;
	font-family: "DinCondProMedium";
	font-size: 10px;

}

.slider-text .slider-content {
	display: block;
	font-family: "DinCondProMedium";
	font-size: 12px;
	color: #464646;
	margin-top: 15px;
}

.hr {
	display: block;
	width: 100%;
	text-align: center;
}

.news {
	list-style-type: none;
}

.news li {
	float: left;
	width: 190px;
	margin-right: 45px;
}

.news td {
	vertical-align: top;
}

.news-header {
	font-family: "DinCondProBold";
	font-size: 12px;
	display: block;
	margin-bottom: 10px;
	color: black;
	text-decoration: none;
}

.news-content {
	font-family: "DinCondProRegular";
	font-size: 10px;
	color: #949494;
}

.news img {
	padding-right: 20px;
}

.column {
	float: left;
	margin-top: 40px;
}

.column-left {
	border: 1px solid #cfcfcf;
	background: #f8f8f8;
	width: 666px;
	padding-top: 25px;
	padding-bottom: 25px;
	padding-right: 20px;
	padding-left: 20px;
	margin-left: 41px;
}

h3 {
	font-family: "DinCondProBold";
	font-size: 19px;
	color: #235996;
}

.column-left span {
	font-family: "DinCondProRegular";
	font-size: 12px;
	color: 949494;
}

.column-right {
	margin-left: 25px;
}

.download-btn {
	width: 180px;
	height: 60px;
	background: #235996;
	cursor: pointer;
}

.download-btn table {
	margin-left: 17px;
	padding-top: 5px;
}

.download-header {
	font-family: "DinCondProMedium";
	font-size: 16px;
	color: white;
}

.download-info {
	font-family: "DinCondProRegular";
	color: white;
	font-size: 10px;
}

.right-banner {
	margin-top: 27px;
}

.bottom-banners {
	list-style-type: none;
}

.bottom-banners li {
	float: left;
	margin-right: 37px;
}

.footer-center {
	height: 100%;
	width: 982px;
	margin: 0 auto;
}

.footer-top {
	width: 100%;
	background: white;
	height: 50px;
}

.footer-bottom {
	height: 102px;
	width: 100%;
	background: #dcdcdc;
}

.header-background {
	height: 160px;
	width: 100%;
	background-image: url(asset-path('bg-inner.png'));
	background-repeat: no-repeat;
	position: absolute;
}

.header-inner {
	height: 160px !important;
}

.news-block-top, .news-block-content {
	margin: 0;
	padding: 0;
	border-collapse: collapse;
}

.news-block-top td {
	margin: 0;
	padding: 0;
}

.news-block-content {
	width: 900px;
	margin-left: 40px;
	margin-bottom: 30px;
	margin-top: 30px;
}

.news-block-header {
	font-family: DinCondProBold;
	font-size: 19px;
	color: #235996;
	display: block;
	margin-bottom: 20px;
}

.news-block-devider {
	height: 2px;
	background: #b7b7b2;
	margin-top: 10px;
	margin-bottom: 10px;
}

.news-block-source {
	font-family: "DinCondProBold";
	font-size: 10px;
	color: #6e6e6e;
}

.news-block-source a {
	color: #698db6;
}

.company-image {
	float: left;
}

.company-description {
	float: left;
	width: 505px;
}

.company-site {
	color: #698db6;
	float: right;
}

.company-name {
	float: left;
	margin-bottom: 7px;
}

.company-image {
	margin-right: 30px;
}

.company-item {
	border: 5px solid #afbfd1;
	padding: 20px 20px 20px 20px;
	margin-bottom: 20px;
}

.work-banner {
	float: left;
	margin-right: 31px;
}

.work-horiz-line {
	width: 100%;
	height: 1px;
	border-top: 1px solid #e7e7e7;
	margin-top: 25px;
}

.vacancy {
	margin-top: 20px;
}

.vacancy-item:nth-child(odd) {
	margin-right: 14px;
}

.vacancy-item {
	width: 413px;
	height: 136px;
	background: url(asset-path('vacancy-bg.png')) no-repeat;
	padding-top: 17px;
	padding-right: 15px;
	padding-left: 15px;
	padding-bottom: 17px;
	float: left;
}


.vacancy-item img {
	float: left;
	margin-right: 25px;
}

.vacancy-header {
	font-family: "DinCondProBold";
	font-size: 19px;
	color: #7f8388;
}

.vacancy-price {
	float: right;
	font-family: "DinCondProBold";
	font-size: 13px;
	color: #748fb5;
}

.vacancy-description ul {
	display: inline-block;
	font-family: Tahoma;
	font-size: 12px;
	color: blue;
	color: #949494;
	list-style-type: none;
	padding-left: 0;
}

.vacancy-description ul li {
	background: url(asset-path('ul_mark.png')) no-repeat;
	padding-left: 10px;
	background-position-y: 8px; 
}

.learn-more-link {
	font-family: "DinCondProRegular";
	color: #698db6;
	font-size: 12px;
	float: right;
}

h1 {
	color: #235996;
	font-family: "DinCondProBold";
	font-size: 19px;
}

.text-content {
	font-family: "DinCondProRegular";
	font-size: 10px;
	color: #949494;
	line-height: 16px;
}

.text-end-line {
	width: 3px;
	border-top: 3px solid #cfcfcf;
	width: 316px;
	margin-top: 20px;
	margin-bottom: 10px;
}

.text-block-source {
		font-family: "DinCondProRegular";
	font-size: 11px;
	color: #949494;
}

.text-block-source a {
	color: #698db6;
	font-size: 12px;
	font-family: "DinCondProRegular";
}

.another-article-header {
	color: #444444;
	font-family: Tahoma;
	font-weight: bold;
	font-size: 11px;
	margin-top: 10px;
}

.another-article-item {
	width: 277px;
	margin-top: 20px;
	float: left;
	margin-right: 23px;
}

.another-article-item img{
	float: left;
	margin-right: 10px;
}

.another-article-header {

}

.vacancy-inner-right-block, .vacancy-inner-left-block {
	float: left;
}

.vacancy-inner-left-block {
	width: 548px;
	margin-right: 38px;
}

.vacancy-inner-name {
	font-family: "DinCondProBold";
	font-size: 19px;
	color: #262727;
	display: inline;
}

.vacancy-inner-price {
	margin-top: 7px;
}

.vacancy-inner-horiz-line {
	height: 1px;
	border-top: 1px solid #e7e7e7;
	margin-top: 15px;
	margin-bottom: 28px;
}

.calls, .duties {
	float: left;
	width: 174px;
}

.calls-header, .duties-header, .another-vacancy-inner-header {
	color: #444444;
	font-family: Tahoma;
	font-weight: Bold;
	font-size: 11px;
}

.calls {
	margin-right: 90px;
}

.jcarousel {
	width: 822px;
	margin-left: 36px;
}

.jcarousel-control-prev {
	position: absolute;
	left: 42px;
	top: 60%;
	margin-top: -15px;
}

.jcarousel-control-next {
	position: absolute;
right: 42px;
top: 60%;
margin-top: -15px;
}

.vacancy-inner-slider-header {
	font-family: "DinCondProBold";
	font-size: 19px;
	color: #7f8388;
}

.vacancy-inner-slider-price {
	font-family: "DinCondProBold";
	font-size: 14px;
	color: #748fb5;
}

fieldset {
	border: 0;
	padding: 0;
	margin: 0;
	margin-top: 26px;
}

.mail-form, .success-form, .vacancy-form {
	height: 590px;
	width: 500px;
	position: absolute;
	top: 0;left:0;
	background: #ffffff;
	z-index: 99999;
	display: none;
}

.success-form {
	height: 100px;
	font-family: Tahoma;
	font-size: 16px;
	color: #9c9c9c;
	text-align: center;
}

.vacancy-form {
	height: 260px;
}

.mail-form label, .vacancy-form label {
	font-family: Tahoma;
	font-size: 14px;
	color: #9c9c9c;
	margin-left: 44px;
	width: 100px;
}

.mail-form input, .mail-form textarea, .mail-form a.send-btn, .vacancy-form input, .vacancy-form a.send-btn {
	float: right;
	margin-right: 52px;
}

.mail-form input[type=text], .vacancy-form input[type=text] {
	width: 293px;
	height: 27px;
	border: 1px solid #9c9c9c;
}

.mail-form textarea {
	width: 293px;
	height: 160px;
	border: 1px solid #9c9c9c;
}

.close-form {
	float: right;
	margin-top: 10px;
	margin-right: 10px;
}

.send-btn {
	margin-top: 26px;
}

.overlay {
	position: fixed;
	top: 0px;
	left: 0px;
	background: #000;
	opacity: 0.7;
	z-index: 9000;
	width: 100%;
	height: 100%;
	display: none;
	display: none;
}

.errors {
	font-family: Tahoma;
	font-size: 14px;
	color: red;
	margin-top: 30px;
}

.rent-item {
	float: left;
	padding-top: 18px;
	padding-left: 17px;
	padding-right: 17px;
	border: 1px solid #d4d4d4;
	width: 162px;
	/*height: 250px;*/
	margin-bottom: 10px;
	margin-right: 27px;

}

.rent-item * {
	display: block;
}

.rent-item .rent-item-name {
	font-family: Tahoma;
	font-weight: bold;
	font-size: 13px;
	color: #235996;
	text-decoration: none;
	margin-top: 15px;
}

.rent-item .rent-item-sq {
	font-size: 12px;
	margin-top: 14px;
	color: #949494;
	line-height: 16px;
}

.rent-item-price {
	width: 100%;
	background: #235996;
	font-size: 25px;
	color: white;
	font-family: Tahoma;
	text-align: center;
	margin-left: -17px;
	width: 197px;
	height: 32px;
	padding-top: 13px;
	margin-top: 30px;
	line-height: 16px;
}

.rent-img {
	float: left;
}
.rent-info {
	float: left;
	margin-left: 30px;
	width: 420px;
}

.rent-header {
	margin-top: 0px;

}

.rent-info table {
	margin-top: 30px;
}

.rent-info table tr {
	height: 25px;
}

.rent-info .label {
	color: #3f3f3f;
	font-size: 12px;
	font-family: Tahoma;
	font-weight: bold;
}

.rent-info .value {
	color: #949494;
	font-size: 12px;
	font-family: Tahoma;
	padding-left: 100px;
}

.line {
	height: 1px;
	border-top: 1px solid #e7e7e7;
	margin-top: 23px;
	margin-bottom: 23px;
}

.rent-intro {
	color: #949494;
	font-size: 12px;
	font-family: Tahoma;
}

.prices {
	width: 100%;
	margin-top: 30px;
}

.prices i {
		font-family: Tahoma;
	color: #fff;
	font-size: 12px;
}

.prices div {
	float: left;
	padding-top: 13px;
	padding-bottom: 13px;
	font-family: Tahoma;
	color: #fff;
	font-size: 25px;
}

.prices div:first-child {
	padding-left: 15px;
	padding-right: 25px;
	background: #235996;
}

.prices div:last-child {
	padding-left: 25px;
	/*padding-right: 96px;*/
	width: 250px;
	background: #a8a8a8;
}

.rent-on-main {
	padding-left: 32px;
}

.rent-on-main .rent-item {
	margin-left: 12px;
}

.rent-on-main .rent-item:last-child {
	margin-right: 0px;
}

h4 {
	diaplay: block;
	width: 100%;
	text-align: center;
	font-family: Tahoma;
	font-size: 15px;
	font-weight: bold;
	color: #235996;

}