		<ul class="news">
			<% i = 1 %>
			<% news.each do |n|%>
				<% img_path = i.to_s+".png"%>
				<li>
					<table>
						<tr>
							<td><img src="<%= image_path(img_path) %>"></td>
							<td>
								<a class="news-header" href="/news/<%= n.alias %>"><%= n.name%></a>
								<a href="/news/<%= n.alias %>"><span class="news-content"><%= n.introtext%></span></a>
							</td>
						</tr>
					</table>
				</li>
				<% i += 1 %>
			<% end %>
		</ul>