<div class="vacancy-form">
	<a href="#" class="close-form"><img src="<%= image_path('close-form.png') %>" /></a>
	<% if vacancy.errors.any? %>
	<ul class="errors">
	  <% vacancy.errors.full_messages.each do |msg| %>
	    <li><%= msg %></li>
	  <% end %>
	</ul>
	<% end %>
	<div class="clear"></div>
	<%= form_for vacancy, url: '' do |f| %>
		<fieldset>
			<label>Как ваз зовут?*</label>
			<%= f.text_field :name %>
		</fieldset>
		<fieldset>
			<label>Телефон*</label>
			<%= f.text_field :phone %>
		</fieldset>
		<a href="#" class="send-btn" onclick="$(this).parent().submit()"><img src="<%= image_path('send-btn.png') %>"></a>
	<% end %>
</div>
<% if params[:vacancy_form] %>
	<% if vacancy.errors.any? %>
		<script type="text/javascript">
			openform('vacancy-form', 130, 285);
		</script>
	<% else %>
		<script type="text/javascript">
			openform('success-form', 50, 285);
		</script>
	<% end %>
<% end %>