<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
    <title></title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>
</head>
<body>
<div class="page">
	<% if controller.controller_name == 'site' && controller.action_name == 'index' %>
		<div class="top-image"></div>
	<% else %>
		<div class="header-background"></div>
	<% end %>
	<div class="header-field <%= (controller.controller_name == 'site' && controller.action_name == 'index')? '' : 'header-inner' %>">
				<a href="/"><img src="<%= image_path('logo.png') %>" class="logo" /></a>
				<ul class="menu">
					<%= is_current('site', 'index', nil, '/', 'ОБ АКОНД-ГРУПП').html_safe%>
					<li class="devider">|</li>
					<%= is_current('site', 'companies', nil, '/companies', 'НАШИ КОМПАНИИ').html_safe%>
					<li class="devider">|</li>
					<li><a href="#">ПАРТНЕРЫ</a></li>
					<li class="devider">|</li>
					<%= is_current('site', 'work', nil, '/work', 'КАРЬЕРА').html_safe%>
					<li class="devider">|</li>
					<%= is_current('site', 'article', nil, '/article', 'СМИ О НАС').html_safe%>
				</ul>
				<div class="mail-btn"></div>
				<div class="clear"></div>
				<form class="search-form">
					<input type="text" />
					<input type="submit" value='' />
				</form>
				<div class="clear"></div>
				<% if controller.controller_name == 'site' && controller.action_name == 'index' %>
					<ul class="slider-marks">
						<% i = 0 %>
						<% loop do %>
							<% i+=1 %>
							<li data-id='<%= i %>'></li>
							<% break if i == @sliders.length %>
						<% end %>
					</ul>
					<div class="slider-text">
						<span class="header">АКОНД</span>
						<span class="subheader">О ПРОЕКТЕ</span>
						<span class="slider-content">Покупка и продажа собственного недвижимого имущества Подготовка к продаже, покупка и продажа собственного недвижимого имущества, Операции с недвижимым имуществом</span>
					</div>
				<% end %>
	</div>
	<div class="bottom-line"></div>
	<div class="content">
		<ul class="submenu">
			<li><a href="/nedv">НЕДВИЖИМОСТЬ</a></li>
			<li>&bull;</li>
			<li><a href="/stroy">СТРОЙМАТЕРИАЛЫ</a></li>
			<li>&bull;</li>
			<li><a href="/metall">МЕТАЛЛОИЗДЕЛИЯ</a></li>
			<li>&bull;</li>
			<li><a href="/usl">УСЛУГИ</a></li>
			<li>&bull;</li>
			<li><a href="/dev">ДЕВЕЛОПМЕНТ</a></li>
			<li>&bull;</li>
			<li><a href="/ravl">РАЗВЛЕЧЕНИЯ</a></li>
		</ul>
		<div class="clear"></div>
		
		<%= yield %>

		<div class="clear"></div>
		<ul class="bottom-banners">
			<li>
				<% banner = Banner.where(label: 'footer_left')[0]%>
				<% if banner.url && banner.url != ''%>
					<a href="<%= banner.url %> ">
			    <% end %>
					<img src="<%= banner.image.url %>" />
				<% if banner.url && banner.url != ''%>
					</a>
			    <% end %>
			</li>
			<li>
				<% banner = Banner.where(label: 'footer_center')[0]%>
				<% if banner.url && banner.url != ''%>
					<a href="<%= banner.url %> ">
			    <% end %>
					<img src="<%= banner.image.url %>" />
				<% if banner.url && banner.url != ''%>
					</a>
			    <% end %>
			</li>
			<li>
				<% banner = Banner.where(label: 'footer_right')[0]%>
				<% if banner.url && banner.url != '' %>
					<a href="<%= banner.url%> ">
			    <% end %>
					<img src="<%= banner.image.url %>" />
				<% if banner.url && banner.url != ''%>
					</a>
			    <% end %>
			</li>
		</ul>
		<div class="clear"></div>
	</div>
<div class="page-buffer"></div>
</div>
<div class="footer">
	<div class="footer-center">
		<div class="footer-top"></div>
		<div class="footer-bottom"></div>
	</div>
</div>
<div class="overlay"></div>
<%= render :partial => "layouts/success_partial", :locals => { :getcall => @getcall } %>
<%= render :partial => "layouts/mail_partial", :locals => { :getcall => @getcall } %>
<%= render :partial => "layouts/vacancy_partial", :locals => { :vacancy => @vacancy } %>
    <% if controller.controller_name == 'site' && controller.action_name == 'index' %>
	    <script type="text/javascript">
	    	var slider = new Array();
	    	<% index = 1 %>
	    	<% @sliders.each do |s| %>
	    		slider.push([<%= index%>, "<%= s.image.url %>", "<%= s.color%>", "<%= s.name %>", "<%= s.description%>"]);
	    		<% index += 1 %>
	    	<% end %>
	    	var current_slide = 0;
	    	ch_slide();
        	setInterval('ch_slide()', 8000);
	    </script>
	<% end %>
</body>
</html>